*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

/* Home */

body {
    background-color: rgb(53, 48, 48); 
    color: #fff;
  }

nav{
    display: flexbox;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Nunito', sans-serif;
    padding: 0 5%;
    height: 100px;
    background-color: rgb(53, 48, 48);


}
nav .logo{
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-style: italic;
    color: #fff;
}
span{
    color: red;
}
nav .links{
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}
nav .links li{
    list-style: none;
}
nav .links a:hover{
    color: red;
}
nav a.active{
    color: red;
}
nav .links a{
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}


section{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 2rem;
    padding: 50px;
    height: 100%;
    width: 100%;
}
.home{ 
    
    position:fixed;  
    height: 100%; 
    width: 100%;  
    background-size: cover;
    background-position: right; 
    display:flex;
    align-items: center; 
    justify-content: flex-start; 
    font-family: 'Nunito', sans-serif;
    
}
.home img{
    /* justify-items: ; */
    height: 80%;
    width: 100%;
    padding-bottom: 50px;
}
.slide{
    margin-bottom: 20px;
}

.one{
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: red;
    color: #fff;
    

}

.two{
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-weight: 500;

}
.home-text h1{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    line-height: 1.1;
    margin: 0 0 8px;
}
.home-text h3{
    color: #fff;
    margin: 0 0 35px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
}
.home-text p{
    color: #fff;
    font-size: 20px;
    line-height: 1.8;
    margin: 40px;
    
}


footer {
    /* border-top: solid 1px; */
    /* background: rgba(150, 150, 150, 0.5); */
    width: 100%;
    height: 40px;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
  }
footer h4{
    position: absolute;
    left: 45%;
}
@media (max-width: 991px){
    .nav{
        padding: 50px;
    }
    .home{
        padding: 50px;
    }
}
/* about */
section .about{
    width: 100%;
    padding: 78px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 450px;
    align-items: right;
}
.about-text{
    width: 550px;
    font-family: 'Nunito', sans-serif;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h4{
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;

}
.item{
  
    text-align: center;
    padding: 50px;
    border: 2px solid #eee;
    
    
}
p .one{
    text-decoration: none;
    font-size: 20px;
}
/* project */
.container{
    display: grid;
    padding: 20px;
    grid-gap: 1%;
    grid-template-areas:
    'title title title'
    'left-side article right-side';
    font-family: 'Nunito', sans-serif;
    
    
}

#title {
    
    grid-area: title;
    text-align: center;
    padding: 80px;
    /* font-size: 24px; */
    font-family: 'Nunito', sans-serif;
}


#article{
    grid-area: article;
    
}
#left-side{
    grid-area: left-side;
}
#right-side{
    grid-area: right-side;
}
/* contact */

.contact {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif; 
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: url(https://t4.ftcdn.net/jpg/03/72/65/37/240_F_372653737_u6ks1dSxmi8txHeHOsW9qT285roteVdP.jpg); */
    background-size: cover;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    columns: #fff;

}

.contact .content p {
    font-weight: 300;
    color: #fff;
}

.containerContact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.containerContact .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.containerContact .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}
.containerContact .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: red; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22;
}
.containerContact .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.containerContact .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd0;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{

    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #143ba8;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;

}
@media (max-width: 991px) {
    .contact{
        padding: 50px;
    }
    .containerContact{
        flex-direction: column;

    }
    .containerContact .contactInfo{
        margin-bottom: 40px;
    }
    .containerContact .contactInfo,
    .contactForm{
        width: 100%;
    }

    
}
